@media (min-width: 1025px) {
  .leftbar {
    width: 250px;
  } 
  .rightbar {
    width: 300px;
  }

  .main-content {
    width: calc(100% - 600px);
    margin-left: 250px; /* width of the leftbar */
    margin-right: 300px;
  }
}

@media (min-width:801px) and (max-width: 1024px) {
  .rightbar {
    width: 300px;
  }
  .leftbar{
    display: none;
  }

  .main-content {
    margin-left: 0;
    margin-right: 300px;
  }
  .messenger-btn,
  .logo-brand{
    display: block !important;
  }
}

@media (max-width: 800px) {
  .leftbar, .rightbar {
    display: none;
  }

  .main-content {
    margin: 0;
    padding: 10px;
  }

  .header {
    text-align: center;
    font-size: 18px;
  }
  .messenger-btn,
  .logo-brand{
    display: block !important;
  }
}

body, html, #root, .App {
  height: 100%;
  margin: 0;
}

.header {
  height: 60px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content:center;
  position: fixed;
  border-bottom: 1px solid #ccc;
  top: 0;
  width: 100vw;
  z-index: 1000;
}

.content {
  display: flex;
  height: calc(100% - 60px); /* 100% height minus the height of the header */
  margin-top: 60px; /* height of the header */
}

.leftbar, .rightbar {
  position: fixed;
  top: 60px; /* height of the header */
  bottom: 0;
  overflow-y: auto;
  z-index: 999;
  
}

.leftbar {
  left: 0;
}

.rightbar {
  right: 0;
}

/* Custom scrollbar styles */
.leftbar::-webkit-scrollbar,
.rightbar::-webkit-scrollbar {
  width: 8px;
  
}

.leftbar:hover::-webkit-scrollbar,
.rightbar:hover::-webkit-scrollbar {
  width: 8px;
}
.leftbar:hover::-webkit-scrollbar-track,
.rightbar:hover::-webkit-scrollbar-track {
  background: #f1f1f1; 
}


.leftbar::-webkit-scrollbar-thumb,
.rightbar::-webkit-scrollbar-thumb {
  border-radius: 4px;
  
}
.leftbar:hover::-webkit-scrollbar-thumb,
.rightbar:hover::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #ccc; 
}

.leftbar::-webkit-scrollbar-thumb:hover,
.rightbar::-webkit-scrollbar-thumb:hover {
  background: #ccc; 
}
.main-content {
  flex: 1;
  /* width of the rightbar */
  padding: 20px;
  overflow-y: auto;
}
.online-avt{
  position: relative;
}
.online-dot{
  position: absolute;
  width: 10px;
  height: 10px;
  background: #26ba4f;
  margin-bottom: 9%;
  margin-left: 10%;
  border-radius: 25px;

}