.story-slider {
    width: 100%;
    max-width: calc(100% - 20px); 
    margin: auto;
}

.slick-prev:before, 
.slick-next:before {
    color: black;
}

.slick-dots li button:before {
    font-size: 10px;
    color: black;
}

.slick-dots li.slick-active button:before {
    color: black;
}
@media (min-width: 1025px){
    .story-img{
        min-height:40vh;
    }
    .card,
    .story-img{
        border-radius: 20px;
    }
    .story-avatar{
        width: 50px;
    }
}
@media (min-width: 1025px)and (max-width: 1200px) {
    .story-img{
        min-height:25vh;
    }
    .card,
    .story-img{
        border-radius: 20px;
    }
}
@media (min-width:801px) and (max-width: 1024px) {
    .story-img{
        min-height:30vh;
    }
    .card,
    .story-img{
        border-radius: 15px;
    }
    .story-avatar{
        width: 40px;
    }
}
@media (min-width:501px) and (max-width: 800px) {
    .story-img{
        min-height:35vh;
        border-radius: 15px;
    }
    .card,
    .story-img{
        border-radius: 15px;
    }
    .story-avatar{
        width: 0px;
    }
}
@media (max-width: 500px) {
    .story-img{
        min-height:20vh;
        border-radius: 15px;
    }
    .card,
    .story-img{
        border-radius: 15px;
    }
    .story-avatar{
        width: 0px;
    }
}



   
.card-story{
    position: relative;
    background-color: #f8f8fb;
    box-shadow: none;
    padding-top: 10px;
}
.story-avatar{
    position: absolute;
    top: 20px;
    left: 10px;
    z-index: 100;
}

.story-img{
   
    object-fit: cover;
    transition: 0.5s;
}
.story-img:hover{
    transform: translateY(-10px);
    transition: 0.5s;
}

