.story-slider {
    width: 100%;
    max-width: calc(100% - 20px); 
    margin: auto;
}

.slick-prev:before, 
.slick-next:before {
    color: black;
}

.slick-dots li button:before {
    font-size: 10px;
    color: black;
}

.slick-dots li.slick-active button:before {
    color: black;
}
.card,
.story-img{
    border-radius: 30px;  
}
.card-story{
    position: relative;
    background-color: #f8f8fb;
    box-shadow: none;
    padding-top: 10px;
}
.story-avatar{
    position: absolute;
    top: 20px;
    left: 10px;
    z-index: 100;
}

.story-img{
    min-height:40vh;
    object-fit: cover;
    transition: 0.5s;
}
.story-img:hover{
    transform: translateY(-10px);
    transition: 0.5s;
}

